/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none !important;
}

/* -----------------------------------*/
/* ---------->>> HEADER <<<-----------*/
/* -----------------------------------*/

.top-header-bar {
  background: #ff4800;
  color: #fff;
}

.header-bar-email,
.header-bar-text {
  padding: 20px 0;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
}

.header-bar-email a,
.header-bar-text span {
  text-transform: lowercase;
  color: #fff;
  text-decoration: none;
}

.header-bar-text {
  margin-left: 48px;
}

.header-bar-text p {
  margin: 0;
}

.donate-btn a {
  display: inline-block;
  padding: 20px 40px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-decoration: navajowhite;
  background: #262222;
}
.site-branding {
  width: calc(100% - 24px);
  padding: 10px 0;
}
.site-branding a {
  margin-top: 6px;
}
/* a:visited {
    color: #757686;
} */
img {
  vertical-align: baseline;
}
.site-navigation ul {
  position: fixed;
  top: 0;
  left: -320px;
  z-index: 9999;
  width: 320px;
  max-width: calc(100% - 120px);
  height: 100%;
  padding: 30px 15px;
  margin: 0;
  background: #fff;
  list-style: none;
  overflow-x: scroll;
  transition: all 0.35s;
}
.site-navigation ul li {
  margin: 0 16px;
}
.site-navigation ul li a:hover,
.site-navigation ul li.current-menu-item a {
  border-bottom: 3px solid #ff5a00;
  color: #ff5a00;
}
.site-navigation ul li a {
  display: block;
  padding: 16px 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: #262626;
  text-decoration: none;
  transition: color 0.35s;
}
.hamburger-menu {
  position: relative;
  width: 24px;
  height: 22px;
  margin: 0 auto;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.hamburger-menu span:nth-child(1) {
  top: 2px;
}
.hamburger-menu span:nth-child(2),
.hamburger-menu span:nth-child(3) {
  top: 10px;
}
.hamburger-menu span:nth-child(4) {
  top: 18px;
}

.hamburger-menu span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #262626;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
}

/* -----------------------------------*/
/* ---------->>> banner <<<-----------*/
/* -----------------------------------*/
.banner {
  background-image: url(assets/hero.jpg.webp);
  background-size: cover;
  min-height: 650px;
  color: white;
}
.hero-content-wrap {
  position: relative;
  color: #fff;
}
.hero-content-wrap img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
}

.hero-content-overlay h1 {
  margin: 0;
  font-size: 102px;
  font-weight: 600;
  line-height: 1;
}
/* .hero-content-overlay {
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
} */
.banner .entry-header {
  margin: 55px 0 0;
}
.hero-content-overlay h4 {
  margin: 0;
  font-size: 46px;
  font-weight: 600;
}
.hero-content-overlay .entry-footer a.btn {
  color: #fff;
}
.btn.orange-border:hover,
.btn.gradient-bg {
  border-color: transparent;
  background: -moz-linear-gradient(
    180deg,
    rgba(255, 90, 0, 1) 0%,
    rgba(255, 54, 0, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(255, 90, 0, 1)),
    color-stop(100%, rgba(1255, 54, 0, 1))
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 90, 0, 1) 0%,
    rgba(255, 54, 0, 1) 100%
  );
  background: -o-linear-gradient(
    180deg,
    rgba(255, 90, 0, 1) 0%,
    rgba(255, 54, 0, 1) 100%
  );
  background: -ms-linear-gradient(
    180deg,
    rgba(255, 90, 0, 1) 0%,
    rgba(255, 54, 0, 1) 100%
  );
  background: linear-gradient(
    270deg,
    rgba(255, 90, 0, 1) 0%,
    rgba(255, 54, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5a00', endColorstr='#ff3600',GradientType=1 );
  color: #fff;
}
.btn {
  padding: 18px 40px !important;
  /* border: 2px solid #262626 !important; */
  border-radius: 24px !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 1 !important;
  color: #262626;
  outline: none !important;
}
.btn.orange-border {
  border-color: #ff5a00;
}
.home-page-welcome img {
  display: block;
  width: 100%;
}

/* -----------------------------------*/
/* ---------->>> home-icon-box <<<-----------*/
/* -----------------------------------*/
.home-page-icon-boxes {
  padding: 96px 0;
}
.icon-box:hover,
.icon-box.active {
  border: 0;
  background: -moz-linear-gradient(
    180deg,
    rgba(255, 90, 0, 1) 0%,
    rgba(255, 54, 0, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(255, 90, 0, 1)),
    color-stop(100%, rgba(1255, 54, 0, 1))
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 90, 0, 1) 0%,
    rgba(255, 54, 0, 1) 100%
  );
  background: -o-linear-gradient(
    180deg,
    rgba(255, 90, 0, 1) 0%,
    rgba(255, 54, 0, 1) 100%
  );
  background: -ms-linear-gradient(
    180deg,
    rgba(255, 90, 0, 1) 0%,
    rgba(255, 54, 0, 1) 100%
  );
  background: linear-gradient(
    270deg,
    rgba(255, 90, 0, 1) 0%,
    rgba(255, 54, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5a00', endColorstr='#ff3600',GradientType=1 );
  color: #fff;
}
.icon-box {
  padding: 40px;
  border-radius: 24px;
  background: #ecf2f5;
  text-align: center;
  transition: all 0.35s;
}
.icon-box:hover figure img:nth-of-type(1),
.icon-box.active figure img:nth-of-type(1) {
  display: none;
}
.icon-box figure img:nth-of-type(1) {
  display: block;
}
.icon-box figure img:nth-of-type(2) {
  display: none;
}
.icon-box:hover figure img:nth-of-type(2) {
  display: block;
}
.icon-box.active figure img:nth-of-type(2) {
  display: block;
}

img {
  vertical-align: baseline;
}
.icon-box:hover .entry-title,
.icon-box.active .entry-title {
  color: #fff;
}
.icon-box .entry-title {
  margin-top: 28px;
  font-size: 24px;
  font-weight: 600;
  color: #262626;
}
.icon-box .entry-content {
  margin-top: 24px;
}
.icon-box .entry-content p {
  margin: 0;
  font-size: 14px;
  color: #595858;
}
.icon-box:hover .entry-content p,
.icon-box.active .entry-content p {
  color: #fff;
}
/* -----------------------------------*/
/* ---------->>> about <<<-----------*/
/* -----------------------------------*/
.home-page-welcome {
  position: relative;
  padding: 96px 0;
  background: url(assets/welcome-bg.jpg.webp) no-repeat center;
  background-size: cover;
  z-index: 99;
}
.home-page-welcome::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(21, 21, 21, 0.9);
}
.welcome-content .entry-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 64px;
  height: 4px;
  border-radius: 2px;
  background: #ff5a00;
}
.welcome-content .entry-content {
  font-size: 14px;
  line-height: 2;
  color: #b7b7b7;
}
.welcome-content .entry-title {
  position: relative;
  padding-bottom: 24px;
  font-size: 36px;
  font-weight: 600;
  color: #fff;
}
/* -----------------------------------*/
/* ---------->>> news <<<-----------*/
/* -----------------------------------*/
.home-page-events {
  padding: 96px 0;
}
.section-heading .entry-title {
  position: relative;
  padding-bottom: 24px;
  font-size: 36px;
  font-weight: 600;
}
.section-heading .entry-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 64px;
  height: 4px;
  border-radius: 2px;
  background: #ff5a00;
}
.event-wrap {
  margin-top: 40px;
}
.event-wrap figure {
  width: 144px;
  height: auto;
}
.event-wrap figure img {
  display: block;
  width: 100%;
}

.event-content-wrap {
  width: calc(100% - 180px);
  margin-top: -10px;
}
.event-content-wrap .entry-title a {
  font-size: 18px;
  font-weight: 600;
  color: #262626;
}
.event-content-wrap .posted-date a {
  padding-right: 14px;
  margin-right: 14px;
}
.event-content-wrap .posted-date a,
.event-content-wrap .cats-links a {
  display: block;
  position: relative;
  margin-top: 6px;
  font-size: 11px;
  font-weight: 500;
  line-height: 1;
  color: #262626;
}
.event-content-wrap .entry-content {
  margin-top: 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #929191;
}
.event-content-wrap .entry-footer a {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #ff5a00;
  text-decoration: none;
}
.section-heading .entry-title {
  position: relative;
  padding-bottom: 24px;
  font-size: 36px;
  font-weight: 600;
}
.section-heading .entry-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 64px;
  height: 4px;
  border-radius: 2px;
  background: #ff5a00;
}
.cause-wrap {
  margin-top: 50px;
}
.section-heading .entry-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 64px;
  height: 4px;
  border-radius: 2px;
  background: #ff5a00;
}
.cause-wrap figure img {
  display: block;
  width: 100%;
}
.featured-cause .cause-content-wrap {
  width: calc(100% - 280px);
}
.cause-content-wrap .entry-title a {
  font-size: 18px;
  font-weight: 600;
  color: #262626;
}
.cause-content-wrap .posted-date a,
.cause-content-wrap .cats-links a {
  display: block;
  position: relative;
  margin-top: 6px;
  font-size: 11px;
  font-weight: 500;
  line-height: 1;
  color: #262626;
}
.cause-content-wrap .entry-content {
  margin-top: 28px;
  margin-bottom: 0;
  font-size: 14px;
  color: #929191;
}
.cause-wrap .fund-raised {
  margin-top: 64px;
}
.barfiller {
  position: relative;
  width: 100%;
  height: 5px;
  border-radius: 3px;
  background: #d6dee1;
}
.fund-raised-details {
  font-size: 14px;
  color: #929191;
}
.featured-cause .cause-wrap {
  padding: 40px 24px;
  background: #edf3f5;
}
.tipWrap span {
  background: #ff3b00;
  padding: 7px 5px;
  border-radius: 100%;
  color: white;
  font-weight: 600;
  height: 30px;
  position: absolute;
  top: -11px;
  font-size: 10px;
}
/* -----------------------------------*/
/* ---------->>> causes <<<-----------*/
/* -----------------------------------*/
.our-causes {
  position: relative;
  padding: 96px 0;
  background: url(assets/cause-bg.jpg.webp) no-repeat center;
  background-size: cover;
  z-index: 99;
}
.our-causes::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(232, 237, 238, 0.8);
}
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.our-causes .cause-wrap {
  width: 350px;
  display: block;
  margin: 60px auto 0;
}
.our-causes .cause-wrap figure {
  position: relative;
}
.cause-wrap figure img {
  display: block;
  width: 100%;
}
.our-causes .cause-wrap figure .figure-overlay {
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.5s;
}
.our-causes .cause-wrap figure:hover .figure-overlay {
  opacity: 1;
  visibility: visible;
}
.our-causes .cause-content-wrap {
  padding: 32px;
  background: #fff;
}
.cause-content-wrap .entry-title a {
  font-size: 18px;
  font-weight: 600;
  color: #262626;
}
.our-causes .cause-content-wrap .entry-content {
  margin-top: 20px;
}
.cause-content-wrap .entry-content {
  margin-top: 28px;
  margin-bottom: 0;
  font-size: 14px;
  color: #929191;
}
.our-causes .cause-wrap .fund-raised {
  margin-top: 48px;
}
.our-causes .swiper-button-next {
  right: 50px;
}
.our-causes .swiper-button-prev {
  left: 50px;
}
.our-causes .swiper-button-next span,
.our-causes .swiper-button-prev span {
  display: block;
  width: 36px;
  padding-top: 15px;
  margin: 0 auto;
}
.our-causes .swiper-button-next,
.our-causes .swiper-button-prev {
  width: 70px;
  height: 70px;
  margin-top: -10px;
  border-radius: 50%;
  background: -moz-linear-gradient(
    180deg,
    rgba(255, 90, 0, 1) 0%,
    rgba(255, 54, 0, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(255, 90, 0, 1)),
    color-stop(100%, rgba(1255, 54, 0, 1))
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 90, 0, 1) 0%,
    rgba(255, 54, 0, 1) 100%
  );
  background: -o-linear-gradient(
    180deg,
    rgba(255, 90, 0, 1) 0%,
    rgba(255, 54, 0, 1) 100%
  );
  background: -ms-linear-gradient(
    180deg,
    rgba(255, 90, 0, 1) 0%,
    rgba(255, 54, 0, 1) 100%
  );
  background: linear-gradient(
    270deg,
    rgba(255, 90, 0, 1) 0%,
    rgba(255, 54, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5a00', endColorstr='#ff3600',GradientType=1 );
  transition: all 0.35s;
}
.our-causes .swiper-button-next path,
.our-causes .swiper-button-prev path {
  fill: #fff;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

/* -----------------------------------*/
/* ---------->>> footer <<<-----------*/
/* -----------------------------------*/
.footer-widgets {
  position: relative;
  padding: 96px 0 90px;
  font-weight: 500;
  color: #929191;
  background: url(assets/foot-bg.jpg.webp) no-repeat center;
  background-size: cover;
  z-index: 99;
}
.footer-widgets::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 101%;
  background: rgba(22, 22, 22, 0.92);
}
.footer-widgets h2 {
  margin-bottom: 40px;
  font-size: 18px;
  color: #fff;
}
.foot-about p {
  font-size: 14px;
  line-height: 2;
  color: #929191;
}
.footer-widgets ul {
  padding: 12px 0 0;
  margin: 0;
  list-style: none;
}
.footer-widgets ul li {
  margin-bottom: 8px;
  font-size: 14px;
}
.footer-widgets ul li a {
  color: #a2a1a1;
  text-decoration: none;
}
.foot-latest-news ul li .posted-date {
  font-size: 12px;
  color: #ff5a00;
}
.foot-latest-news ul li h3 {
  font-size: 14px;
}
.footer-widgets ul li a {
  color: #a2a1a1;
  text-decoration: none;
}
.foot-latest-news ul li {
  display: block;
  margin-bottom: 36px;
}
.foot-contact ul li {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
}
.foot-contact ul li span {
  width: calc(100% - 3px);
}
.subscribe-form {
  margin-top: 50px;
}
.subscribe-form input[type="email"] {
  width: calc(100% - 70px);
  padding: 12px 16px;
  border: 0;
  font-size: 12px;
  line-height: 1;
  background: #fff;
  color: #131212;
  outline: none;
}
.subscribe-form input[type="submit"] {
  width: 68px;
  padding: 13px 0 14px;
  border: 0;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  background: #ff5a00;
  color: #fff;
  cursor: pointer;
  outline: none;
}
.footer-bar {
  padding: 30px 0;
  font-size: 12px;
  color: #7b7b7b;
  background: #131212;
  text-align: center;
}
/* -----------------------------------*/
/* ---------->>> media <<<-----------*/
/* -----------------------------------*/

@media screen and (min-width: 992px) {
  .site-branding {
    width: auto;
  }
  .site-navigation ul {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0;
    overflow: auto;
    background: transparent;
  }
  .site-navigation ul li a:hover,
  .site-navigation ul li.current-menu-item a {
    border-bottom: 3px solid #ff5a00;
    color: #ff5a00;
  }
}
@media screen and (max-width: 1024px) {
  .our-causes .cause-wrap {
    width: 100%;
  }
  .our-causes .swiper-button-prev,
  .our-causes .swiper-button-next {
    display: none;
  }
  span.tip {
    left: 75px !important;
  }
}
@media screen and (max-width: 767px) {
  .featured-cause .cause-content-wrap {
    width: 100%;
  }
  span.tip {
    left: 200px !important;
  }
  .our-causes .cause-wrap {
    width: 100%;
  }

  .hero-content-overlay h1 {
    font-size: 40px;
  }
  .hero-content-overlay h4 {
    font-size: 40px;
  }
  .home-page-icon-boxes {
    padding: 50px 0;
  }
  .home-page-events {
    padding: 50px 0;
  }
}
